@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    color: white;
    background-image: url('/assets/img/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}


/* HEADER */

header {
    padding: 20px 50px;
}

header img {
    width: 10%;
}

/* MAIN */

main {
    text-align: center;
    margin: 0 150px;
    padding: 20px;
    /* background-color: blue; */ 
}

h1 {
    font-size: 2.8em;
    font-family: "Outfit", serif;
    margin: 20px;
}

h3, label, input, button {
    font-size: 24px;
    font-family: "Outfit", serif;
    font-weight: normal;
    text-align: center;
}

/* quiz-container */

#quiz-container {
    /* background-color: pink; */
    padding: 20px;
}

/*  option container */

#options {
    /* background-color: aqua; */
    margin: 40px;
    padding: 20px;
}


/* inputs STYLE */



input {
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: transparent;
    margin: 10px;
    border-top: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
    color: white;
    transition: box-shadow 0.5s ease-in-out;
}


input:hover {
    background-color: #900080;
} 

input:focus {
    background-color: #900080;
}

/* colori feedback */

.corretto {
    box-shadow: 0 0 15px green;
}

.sbagliato {
    box-shadow: 0 0 10px red;
}

/* fine colori feedback */

/* style tasto submit */

#submit-quiz {
    width: 200px;
    height: 55px;
    background-color: #00FFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 25px #00FFFF;
    cursor: pointer;
    margin-top: 40px
}

/* style tasto submit */

#submit-quiz {
    width: 200px;
    height: 55px;
    background-color: #00FFFF;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 25px #00FFFF;
    cursor: pointer;
    margin-top: 40px
}

/* style tasto results */

button {
    width: 200px;
    height: 55px;
    background-color: #900080;
    /* color: white; */
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 25px #900080;
    cursor: pointer;
    margin-top: 40px
}

a {
    text-decoration: none;
    color: black;
}


#switch-to-result {
    display: none;

}

/* TIMER  */

/* Contenitore del timer, posizionato a destra della pagina */
#timer-container {
    position: absolute;
    right: 20px;
    top: 20%;
    transform: translateY(-50%); /* Centro perfetto verticalmente */
    text-align: center;
}

/* Cerchio che contiene il timer */
#cerchio {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Trasforma in cerchio */
    background: conic-gradient(#4CAF50 0deg, transparent 0deg); /* Gradiente verde iniziale */
    position: relative; /* Necessario per il posizionamento assoluto del timer */
  }
  
  /* Timer al centro del cerchio */
  #timer {
    font-size: xx-large;
    color: white;
    position: absolute; /* Posiziona il timer all'interno del cerchio */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra orizzontalmente */
    transform: translate(-50%, -50%); /* Centro perfetto */
}


/* FOOTER */


footer {
    text-align: center;
    margin-top: 150px;
    font-size: 24px;
    font-family: "Outfit", serif;
}

#purple {
    color: #900080;
}
