@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-image: url(/assets/img/assets/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.logo-container {
  margin-left: 8%;
  margin-top: 5%;
}
.logo-container img {
  width: 200px;
}

h1 {
  text-align: center;
  margin-bottom: 0%;
  font-size: 50px;
  font-family: "Poppins", serif;
}
p {
  font-family: "Poppins", serif;
  text-align: center;
  margin-top: 0%;
  font-size: 20px;
}
button {
  background: none;
  border: 3px solid white;
  font-size: 50px;
  color: white;
  padding: 20px 80px;
  box-shadow: 0px 0px 20px 1px rgb(77, 77, 219);
  cursor: pointer;
}
footer {
  text-align: center;
}
section {
  display: flex;
  justify-content: space-around;
}
.correct {
  text-align: start;
}
.percentage {
  text-align: inherit;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 0px;
  line-height: 40px;
}
.wrong {
  text-align: end;
}
.questions {
  text-align: inherit;
  font-size: 16px;
}

h2 {
  margin-bottom: 0px;
  font-size: 40px;
}
.chart-text {
    
    font-size: 12px;
    color: white;
   
  }
  .pass {
    color: #01edf0;
    font-size: 12px;
  }

  .not-pass {
    color: #c2128d;

  }
